{% extends 'base.html' %}

{% load crispy_forms_tags %} 
{% load static %}
{% block content %}

<img src="{% static 'img/95573471-vector-logo-two-hands-blood-donation-concept.jpg' %}" height="200" width="200" align="right" alt="sorry"/>

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800"><font color="orange">Change Password</font></h1>
        </div> 
        <hr>         

        <!-- Main Content Here -->
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Change Your Password!</h1>
                  </div>
                  <form method="POST">
                    {% csrf_token %}
                    {{form | crispy}}
                    <button type="submit" class="btn btn-success btn-block">Change</button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <button type="submit"><a href="{% url 'about' %}"><strong><font size="5" color="coral">Back</font></strong></a></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>



    </div>
    <!-- /.container-fluid -->
{% endblock content %}